/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
  }
  
  td, th{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #f1ecec;
  }
  .table_wrapper{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
} */